{% extends "base_generic.html" %}

{% block content %}
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
<h1>Reset a User's Password</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        {% if messages %}
            {% for message in messages %}
                <tr>
                    <td></td>
                    <td>
                        {% if 'email' in message.tags %}
                            <div class="{{ message.error }}"><font color="Red">{{ message }}</font></div>
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <td></td>
                    <td>
                        {% if 'matchPassword' in message.tags %}
                            <div class="{{ message.error }}"><font color="Red">{{ message }}</font></div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Make Changes" /></td>
        </tr>
    </table>
</form>
</div>
</div>

{% endblock %}