{% extends "base_generic.html" %}

{% block content %}
<h1>{{class.name}}</h1>
<p>
    <strong>Instructor:</strong> 

    {{ instructor.all|join:", " }}
</p>

<h2>Active Quizzes: </h2>
<ul>
    {% for quiz in class.quizzes.all %}
        {% if is_active[{{forloop.counter}}] %}
            <li>
            <p>
                <a href="{{ quiz.get_absolute_url }}" > {{quiz.name}} </a>
            </p>
            </li>
            <li>
                {{quiz.start_time}}
            </li>
        {% endif %}
      {% endfor %}
</ul>

<h2>Past Quizzes: </h2>
<ul>
    {% for quiz in classes.quizzes.all %}
    <li>
      <p>{{quiz.name}}: {{quiz.grade}}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}