{% extends "base_generic.html" %}

{% block content %}
<h1>{{class.name}}</h1> {% comment %} add an edit button {% endcomment %}
<p><strong>Instructor:</strong> {% for teacher in teacher_list %} {{teacher.user.first_name}} {{teacher.user.last_name}}{% endfor %}</p> {% comment %} add an edit button {% endcomment %}

<p><strong>Students: </strong> <a href="{% url 'addStudent' class.pk %}" >edit</a></p> 

  {% for student in student_list %}
    <p> 
      {{student.user.first_name}} {{student.user.last_name}}
    </p>
  {% endfor %}
<h2>Quizzes for class: </h2>
  {% for quiz in active_quizzes %}
    <p>
        <a href="{% url 'gradebook' quiz_id=quiz.pk %}" > {{quiz.name}} </a> <font color="Blue">Active</font> Closes: {{quiz.end_time}}
    </p>
  {% endfor %}

  <h2>Past Quizzes: </h2>
  {% for quiz in inactive_quizzes %}
    <p>
      <a href="{% url 'gradebook' quiz_id=quiz.pk %}" > {{quiz.name}} </a> <font color="Red">Inactive</font>
    </p>
  {% endfor %}
  </ul>
{% endblock %}