{% extends "base_generic.html" %}

{% block content %}
<center>
  <h3>Login</h3>

  <form method="POST">
      {% csrf_token %}
      <table>
      <fieldset class="form-group">
      {{ form.as_table }}
      </fieldset>
    </table>
    {% if messages %}
      {% for message in messages %}
        {% if forloop.count is 1%}{% endif %}
          {% if 'login' in message.tags %}
            <div class="{{ message.error }}"><font color="Red">{{ message }}</font></div>
          {% endif %}
          {% if 'logout' in message.tags %}
            <div class="{{ message.info }}"><font color="Red">{{ message }}</font></div>
          {% endif %}
        
      {% endfor %}
    {% endif %}
    <p></p>
      <button type="submit">login</button>
  </form>
  <p></p>
  <form action={% url 'studentRegistration' %} method="link">
      <button type="submit">signup</button>
  </form>
</center>
{% endblock %}