{% extends "base_generic.html" %}


{% block content %}
<h1>Welcome {{name}}!</h1>
<p>Reset password <a href="{% url 'resetPassword' %}">here</a></P>
<h3>Classes</h3>
    
<ul>
  {% for class in classes %}
    <li>
      <p> 
        <a href="{{ class.get_absolute_url }}" > {{class}} </a>
      </p>
    </li>
  {% endfor %}
</ul>

{% if user.is_superuser %}
<p></p>
<p></p>
<p></p>
<h3>Change View</h3>
<form action="{% url 'adminViewChange' %}" method="post">
  {%csrf_token%}
  <td class="text-center"> 
    <div class="form-check">
      <input {% if user.is_student %}checked{% endif %} type="checkbox" value="student" id="student" name="selectedOpt">
      <label> Student View</label><br>
      <input {% if user.is_teacher %}checked{% endif %} type="checkbox" value="teacher" id="teacher" name="selectedOpt">
      <label> Teacher View</label><br><br>
      <input type="submit" value="Submit">
    </div>
  </td>
</form>
{% endif %}

{% endblock %}
