{% extends "base_generic.html" %}

{% block content %}
<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">
    <h1>Welcome {{name}}!</h1>

    {% load static %}
        <img src="{% static 'pdambear.png' %}" alt="bearpic" style="width:340px;height:280px;"/>

    {% if user.is_superuser %}
      <p><a href="{% url 'adminPasswordReset' %}">Reset a user's password</a></p>
    {% endif %}

    <p><a href="{% url 'teacherRegistration' %}">Register a new teacher</a></p>

    <form action={% url 'quiz_create' %} method="link">
      <button type="submit" >Create Quiz</button>
    </form>
    <form action={% url 'quiz_list' %} method="link">
      <button type="submit">List of Quizzes</button>
    </form>
    <form action={% url 'create_class' %} method="link">
      <button type="submit">Create a Class</button>
    </form>


    <h2>Classes</h2>
    <p><a href="{% url 'edit_classes' %}">Add/Drop Classes</a></p>
    <ul class="list-group">
      {% for class in classes %}
        <li class="list-group-item"><a href="{{ class.get_absolute_url }}" > {{class}} </a></li>
      {% endfor %}
    </ul>
    <p></p>
    <br>
    <p></p>
    <br>
    <p></p>
  </div>
</div>
{% endblock %}