{% extends "base_generic.html" %}

{% block content %}
<h1>Welcome {{name}}!</h1>


<p>Register a new teacher <a href="{% url 'teacherRegistration' %}">here</a></P>
<p>Reset password <a href="{% url 'resetPassword' %}">here</a></P>
<form action={% url 'quiz_create' %} method="link">
  <button type="submit">Create Quiz</button>
</form>
<form action={% url 'quiz_list' %} method="link">
  <button type="submit">List of Quizzes</button>
</form>


<h2>Classes</h2>
    
{% for class in classes %}
    <p> 
      <a href="{{ class.get_absolute_url }}" > {{class}} </a>
    </p>
{% endfor %}

{% if user.is_superuser %}
<p></p>
<p></p>
<p></p>
<h3>Change View</h3>
<form action="{% url 'adminViewChange' %}" method="post">
  {%csrf_token%}
  <td class="text-center"> 
    <div class="form-check">
      <input {% if user.is_student %}checked{% endif %} type="checkbox" value="student" id="student" name="selectedOpt">
      <label> Student View</label><br>
      <input {% if user.is_teacher %}checked{% endif %} type="checkbox" value="teacher" id="teacher" name="selectedOpt">
      <label> Teacher View</label><br><br>
      <input type="submit" value="Submit">
    </div>
  </td>
</form>
{% endif %}

{% endblock %}