{% extends "base_generic.html" %}

{% block content %}
<h1>Welcome {{name}}!</h1>


<form action={% url 'quiz_create' %} method="link">
  <button type="submit">Create Quiz</button>
</form>
<form action={% url 'quiz_list' %} method="link">
  <button type="submit">List of Quizzes</button>
</form>
<form action={% url 'questionPage' %} method="link">
  <button type="submit">List of Questions</button>
</form>


<h3>Classes</h3>
    
    <ul>
    {% for class in classes %}
    <li>
      <p> 
        <a href="{{ class.get_absolute_url }}" > {{class}} </a>
      </p>
    </li>
    {% endfor %}
    </ul>


{% endblock %}