{% extends "base_generic.html" %}

{% block content %}
<h1>{{class.name}}</h1>
<p><strong>Instructor:</strong> {{ instructor.all|join:", " }}</p>

<h2><a href="{{ roster.get_absolute_url }}">Roster</a></h2>
<a href="{% url 'grade_list' class.gradebook.pk %}" > {{class.gradebook}} </a>
<h2>Quizzes for class: </h2>
<ul>
    {% for quiz in class.quizzes.all %}
    <li>
      <p> 
        <a href="{% url 'quiz-detail' quiz.pk %}" > {{quiz.name}} </a>
      </p>
    </li>
    {% endfor %}
    </ul>
{% endblock %}