<!DOCTYPE html>

{% extends "base_generic.html" %}

{% block content %}
<div class ="title">
    <h1>Quizzinator</h1><br>
</div>
<div class ="image">
    <img class ="image" src="../static/pdambear.png"></img>
</div>
    {% comment %} these links are for demonstration purposes and will be removed later {% endcomment %}
    <h2><a href="http://127.0.0.1:8000/teacher_profile/111222333444">Teacher Page Demo</a></h2>
    <h2><a href="http://127.0.0.1:8000/student_profile/193791983248">Student Page Demo</a></h2>

{% endblock %}
