<!DOCTYPE html>

{% extends "base_generic.html" %}

{% block content %}
<div class ="title">
    <h1>Quizzinator</h1><br>
</div>
<div class ="image">
    <img class ="image" src="../static/pdambear.png"></img>
</div>
    <h2>Current Active Quizzes:</h2>
    {% if quiz_list %}
  <ul>
    {% for quiz in quiz_list %}
      <li>
        <a href="{% url 'quiz_detail' quiz.pk %}">{{ quiz.name }}</a> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no active quizzes.</p>
  {% endif %}

{% endblock %}
