{% extends "base_generic.html" %}

{% block content %}
<h1>Questions</h1>
  
    <table>
      <th>Question Root</th>
      <th>Correct Answer</th>
      <th>Distractors</th>
      <th>Hint</th>
      <th>Tags</th>
      {% for question in fakemultiplechoicequestion_list %}
    <tr>
      <p> 
        <td> {{question.root}} </td>
        <td> {{question.correct_answer}} </td>
        <td> {{ question.distractors.all|join:", " }} </td>
        <td> {{question.hint}} </td>
        <td> {{ question.tags.all|join:", " }} </td>
      </p>
    </tr>
    {% endfor %}
    </table>
    
    {% comment %} <p><strong><a href="{% url 'import_xcl'  %}">Import</a></strong></p> {% endcomment %}
    <p><strong><a href="{% url 'export_xcl'  %}">Export</a></strong></p>
    
{% endblock %}