{% extends "base_generic.html" %}

{% block content %}
<h1>Questions</h1>
  
    <table>
      <th>Question Root</th>
      <th>Correct Answer</th>
      <th>Distractors</th>
      <th>Hint</th>
      <th>Tags</th>
      {% for question in fakemultiplechoicequestion_list %}
    <tr>
      <p> 
        <td> {{question.root}} </td>
        <td> {{question.correct_answer}} </td>
        <td> {{ question.distractors}} </td>
        <td> {{question.hint}} </td>
        <td> {{ question.tags}} </td>
        {% comment %}<td><a href="delete/{{ question.id }}">delete</a></td>{% endcomment %}
      </p>
    </tr>
    {% endfor %}
    </table>
    <p><strong><a href="add/">Add Question</a></strong></p>
    <p><strong><a href="{% url 'importing'  %}">Import</a></strong></p> 
    <p><strong><a href="{% url 'export_xcl'  %}">Export</a></strong></p>
    
{% endblock %}