{% extends "base_generic.html" %}

{% comment %} the following commented if statements are to be implemented once authentication and permissions have been implemented
{% if User.is_authenticated and User.has_permission and User.return_int(student.sid) == student_id %}
{% endcomment %}
{% block content %}
<h1>Welcome {{student}}!</h1>

<h3>Classes</h3>
    
    <ul>
    {% for class in classes %}
    <li>
      <p> 
        <a href="{{ class.get_absolute_url }}" > {{class}} </a>
      </p>
    </li>
    {% endfor %}
    </ul>


{% endblock %}

{% comment %}
{% endif %}
{% endcomment %}

{% comment %}
{% if !User.is_authenticated %}
  {% block content %}
    <h3>Please log in to view this page. <a href="login url">Login</a></h3>
  {% endblock %}
{% else %}
  {% block content %}
    <h3>You do not have permission to view this page.</h3>
  {% endblock %}
{% endif %}
{% endcomment %}